*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --hue: 170;

  /* 148 */

  --primary-color: hsla(var(--hue), 100%, 26%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(39, 100%, 97%, 1);
  --brand-light: hsla(calc(var(--hue) - 22), 23%, 89%, 1);
  --green-hover: hsla(var(--hue), 100%, 14%, 1);


  --nav-height: 7.2rem;

  --bg-light: hsla(180, 14%, 97%, 1);


  font-size: 62.5%; /*1rem = 10px*/
}

html{
  scroll-behavior: smooth;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6;
  text-align: center;

  overflow: overlay;
}

.wrapper{
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
}

section{
  padding-block: 10rem;
}

section header h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  text-transform: uppercase;

  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
}

section header h2{
  color: var(--headline);
  font-size: 3.0rem;
  line-height: 3.9rem;
}

section header h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

.button{
  background-color: var(--primary-color);
  padding: 1.6rem 3.2rem;
  width: fit-content;
  margin-bottom: 6rem;

  border: none;
  border-radius: 4rem;
  
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  transition: .3s;
}

.button:hover{
  background-color: var(--green-hover);
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem
}


/*======= NAVGATION =======================================================*/ 

nav{
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll{
  background-color: var(--primary-color);
  
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button{
  background: none;
  border: none;
  cursor: pointer;
}

nav button path{
  stroke: var(--primary-color);
}


nav .logo path[fill*='#00856F']{
  fill: var(--primary-color);
}

nav.scroll .logo path[fill*='#00856F']{
  fill: white;
}

/*======= MENU-EXPANDED  =======================================================*/ 
body.menu-expanded{
  overflow: hidden;
}

body.menu-expanded > :not(nav){
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: 0;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}

.menu{
  transform: translateY(100%);
  visibility: hidden;
}

body.menu-expanded .menu{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  transition: transform ease 300ms;
  transform: translateY(0);
}


.menu ul:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: calc(6rem + var(--nav-height));

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  
}

.menu ul li a{
  color: white;
  text-decoration: none;
}

.menu .button-menu{
  background: #FFFFFF;
  border-radius: 4rem;

  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 2.3rem;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  transition: ease .3s;
}

.menu .button-menu:hover{
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.2);
}

body.menu-expanded .logo,
body.menu-expanded .close-menu
{
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded .close-menu path {
  stroke: white;
}


/*======= HOME =======================================================*/

#home::before{
  content: "";
  display: block;
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home{
  padding-top: calc(4.1rem + var(--nav-height));
}

#home img {
  width: 26.4rem;
  display: block;
  object-position: 0 2rem;
  margin: auto;
}

#home p{
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

#home .button{
  margin-inline: auto;
}

#home .stats {
  background-color: var(--brand-beige);
  border-radius: .6rem;
  border: 1px solid var(--brand-light);
  
  width: 32.7rem;
  
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

}

#home .stat h3{
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;
}

#home .stat p{
  font-size: 1.6rem;
  color: var(--primary-color);
  margin: 0;
  line-height: 150%;
}

/*======= SERVICES  =======================================================*/ 

#services h2{
  color: var(--headline);
  font-size: 3.0rem;
  line-height: 3.9rem;

  margin-bottom: 6rem;
}

#services .cards{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card{
  padding: 2.4rem;
  text-align: left;

  background: white;
  border: 1px solid var(--brand-light);
  border-radius: .6rem;
}

#services .card h3{
  margin-block: 1.6rem;
  color: var(--headline);
  font-size: 2.4rem;
  line-height: 3.1rem;
}

#services .card p {
  font-size: 1.6rem;
  line-height: 150%;
}

#services .card svg circle{
  fill: var(--brand-light);
  
}
#services .card svg path{
  stroke: var(--primary-color);
}

/*======= ABOUT  =======================================================*/ 

#about {
  background-color: var(--brand-beige);
  text-align: left;
}

#about h2{
  margin-bottom: 2.4rem;
}

#about p {
  margin-bottom: 6rem;
}

/*======= CONTACT  =======================================================*/ 

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
} 

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
#contact ul li{
  display: flex;
  align-items: center;
  gap: .8rem;

  font-size: 1.6rem;
  line-height: 150%;
}

#contact .button{
  margin-top: 3.2rem;
  margin-bottom: 6rem;
}

#contact li path{
  stroke: var(--primary-color);
}

/*======= FOOTER  =======================================================*/ 

footer{
  padding-block: 6rem;

  background-color: var(--primary-color);
  color: white;

  text-align: left;
}

p{
  color: var(--brand-beige);
  font-size: 1.6rem;
  line-height: 2;

  padding-top: 2.4rem;
  padding-bottom: 3.2rem;
}

footer .logo svg{
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path{
  fill: white;
}

footer .social-links{
  justify-content: flex-start;
} 


/*======= BUTTOM BACK TO TOP  =======================================================*/ 
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all .5s;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTopButton circle{
  fill: var(--primary-color)
}